body {
    background-image: url('/src/components/img/dualioa.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-control {
    text-transform: capitalize;
}

.list-group {
    text-transform: capitalize;
    opacity: 0.8;
}